/* Reset */
* { margin: 0; padding: 0; }
html, body {
  height: 100%;
  width: 100%;
  font-family: 'roboto', sans-sans-serif;
}
/* elements & tags */
a { text-decoration: none; }

a:hover { text-decoration: underline; }

body {
  background-color: hsl(0, 0%, 15%);
}

body, a {
  color: hsl(0, 0%, 85%);
  font-weight: 300;
}
header {
  display: block;
  height: 75px;
}

nav, .country, .org-links, .legal-links { padding: 15px; }
nav, .legal-links { float: right; }

nav a,  footer a {
  margin-right: 15px;
  font-size: 14px;
}

main {
  position: absolute;
  top: 75px;
  width: 100%;
  height: calc(100% - 175px);
  margin: auto;
  text-align: center;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: hsl(0,0%,12%);
    color: hsl(0,0%,75%);
}


.country { border-bottom: 0.25px solid hsl(0,0%,30%); }

.country p {
  display: inline;
  font-weight: bold;
}
.org-links { float: left; }

a.no-deco  { text-decoration: none; }

.profile {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
}
